@font-face { font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }

textarea {
	resize: none;
}

.pageTitle{
	font-size: 26px;
    font-weight: 600;
    color: #190909cc;
    margin: 50px;	
}



.listItem {
    background-color: white;
    padding: 15px;
    width: 1024px;
    text-align: center;
    margin: 0px auto;
    font-family: 'JSDongkang-Regular';
    border-bottom: 1px solid #00000014;
}

.listItem input {
	font-family: 'JSDongkang-Regular';
}

.listItem:last-child {
	border: none;
}

#submitBtn{
	padding: 4px 8px;
    background-color: #ff9a0edb;
    color: white;
    width: 42px;
    font-size: 13px;
}

#submitBtn:disabled {
  background-color: #dad9d9b0;
}

#deleteBtn {
	padding: 4px 8px;
    background-color: #ff1c1cba;
    color: white;
    width: 42px;
    font-size: 13px;
}