<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bambooMapper">
	
	<select id="getList" resultType="com.test.vo.BambooVO">
   		select * from bamboo order by b_no desc
   </select>

	<select id="search" resultType="com.test.vo.BambooVO">
   		select * from bamboo where ${category} like '%' ||  #{searchValue} || '%'
   </select>
   
   <insert id="insert">
   	insert into bamboo (b_no, ip, writer, password, title, description) values (bamboo_seq.nextval, #{ip}, #{writer}, #{password}, #{title}, #{description})
   </insert>
   
   <update id="favUpdate">
   		update bamboo set favorite = #{favorite} where b_no = #{b_no}
   </update>
   
   <update id="notFavUpdate">
      	update bamboo set notfav = #{notFav} where b_no = #{b_no}
   </update>

   <select id="writeMessage" resultType="com.test.vo.BambooVO">
   		select * from bamboo where writer = #{writer} and password = ${password} and b_no = ${b_no}
   </select>
   
   <update id="messageUpdate">
	   	UPDATE bamboo
		  SET title = #{title}, writer = #{writer}, description = #{description}, password = ${password}
		  where b_no = ${b_no}
   </update>
   
   <delete id="messageDel" parameterType="int">
   		delete from bamboo where b_no = #{b_no}
   </delete>
   

</mapper>