<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="homeMapper">
	
	<!-- 학과명 SELECT  -->
	<select id="getDepartment" resultType="com.test.vo.DepartmentVO">
		select * from MAJOR order by name
	</select>
	
	<!-- 회원가입 -->
	<insert id="join">
		insert into member (m_no, name, email, d_name, id, password, role) values (member_seq.nextval, #{name}, #{email}, #{d_name}, #{id}, #{password}, #{role})
	</insert>
	
	<!-- 회원탈퇴 -->
	<delete id="memberDrop">
		delete from member where m_no = #{m_no}
	</delete>
	
	<!-- 로그인 -->
	<select id="login" resultType="com.test.vo.LoginVO">
		select m_no, name, email, d_name, id, password, role from member where id = #{id} and password = #{password}
	</select>
	
	<!-- 비밀번호 변경 -->
	<select id="getPw" resultType="String">
		select password from member where m_no = #{m_no}
	</select>
	
	<update id="pwUpdate">
		update member 
		set password = #{password}
  		where m_no = #{m_no}
	</update>
</mapper>