<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="homeMapper">
	
	<!-- 학과명 SELECT  -->
	<select id="getDepartment" resultType="com.test.vo.DepartmentVO">
		select * from MAJOR order by name
	</select>
	
	<!-- 회원가입 -->
	<insert id="join">
		insert into member (m_no, name, email, d_name, id, password, role) values (member_seq.nextval, #{name}, #{email}, #{d_name}, #{id}, #{password}, #{role})
	</insert>
	
	<!-- 아이디 중복 확인 -->
	<select id="idChk" resultType="int">
		select count(*) from member where id = #{id}
	</select>
	
	<!-- 이메일 중복 확인 -->
	<select id="emailChk" resultType="int">
		select count(*) from member where email = #{email}
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="memberDrop">
		delete from member where m_no = #{m_no}
	</delete>
	
	<!-- 로그인 -->
	<select id="login" resultType="com.test.vo.LoginVO">
		select m_no, name, email, d_name, id, password, role from member where id = #{id}
	</select>
	
	<!-- 해당 유저의 비밀번호 가져오기 -->
	<select id="getPw" resultType="String">
		select password from member where m_no = #{m_no}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="pwUpdate">
		update member 
		set password = #{password}
  		where m_no = #{m_no}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="getId" resultType="String">
		select id from member where email = #{receiveMail}
	</select>
	
	<!--  임시 비밀번호 발급 -->
	<select id="getM_no" resultType="int">
		select m_no from member where email = #{email}
	</select>
	
</mapper>